**1-Write a Python program to calculate the length of a string using 2 ways

In [3]:
str= input("please enter your name")
x=len(str)
print ("length of string",x)

please enter your nameahmed
length of string 5

In [50]:
str=input("please enter your name")
y=0
for i in str:
    y+=1
    print(y)

please enter your nameahmed
1
2
3
4
5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [11]:
name=input("please enter your name")
if len(name)<2:
    print("emty")

please enter your namew
emty

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [14]:
name=input("please enter your name")
if (len(name)<3):
    print ("welcome",name)
elif(len(name)>3 and name[:-3]=="ing"):
    print(name+"ly")
else:
    print(name+"ing")

please enter your nameahmed
ahmeding

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [21]:
lst = ["ahmed", "ali", "zain", "reem"]
length = 0

for s in lst:
    if len(s) > length:
        longest_str = s
        length = len(s)

print("Longest string:", longest_str)
print("Length of the longest string:", length)

Longest string: ahmed
Length of the longest string: 5

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [33]:
str="ahmed"
len(str)

5

In [34]:
str[-1]+str[1:]+str[0]

'dhmeda'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [44]:
str="mohmaed"
len(str)
for i in str[0:7:2]:
    print(i)

m
h
a
d

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [50]:
str="amr and ahmed are frindes but amr is the tallest"
words=str.split()
s=set()
for word in words:
    s.add((word,str.count(word)))
    s

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [135]:
name=input("please enter your name")
print(name.upper())
print(name.lower())

please enter your nameahmed
AHMED
ahmed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [138]:
str=input("please enter your name")
if len(str)%4==0:
    name=str[::-1]
    print(name)

please enter your nameemad
dame

**10- Write a Python program to remove a newline in Python

In [143]:
str="""ahmed is the best/
my name is ahmed/
i am 16 years old/"""
print(str)

ahmed is the best/
my name is ahmed/
i am 16 years old/

In [144]:
print(str.replace("/",""))

ahmed is the best
my name is ahmed
i am 16 years old

**11-Write a Python program to check whether a string starts with specified characters

In [146]:
name=input("please enter your name")
if name[0]=="a":
    print("okay")
else:
    print("not okay")

please enter your nameahmed
okay

**12- Write a Python program to add prefix text to all of the lines in a string

In [158]:
string="""ahmed is the best
my name is ahmed
i am 16 years old"""
print(string)

ahmed is the best
my name is ahmed
i am 16 years old

In [159]:
spelines=string.splitline()

AttributeError: 'str' object has no attribute 'splitline'

**13-Write a Python program to print the following numbers up to 2 decimal places

In [160]:
number=1.333333
print(round(number,2))

1.33

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [36]:
number=[1.333,-4.333,2.333,-1.333]
for i in number:
    print(round(i,2))

1.33
-4.33
2.33
-1.33

**15-Write a Python program to display a number with a comma separator

**16-Write a Python program to reverse a string using 2 ways

In [161]:
str="ahmed"
print(str[::-1])

demha

In [172]:
for i in range(len(str)-1,-1,-1):
    print(str[i],end="")

demha

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [177]:
word="ahmedhafez"
count=dict()
for i in word:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
        print(count)

{'a': 1}
{'a': 1, 'h': 1}
{'a': 1, 'h': 1, 'm': 1}
{'a': 1, 'h': 1, 'm': 1, 'e': 1}
{'a': 1, 'h': 1, 'm': 1, 'e': 1, 'd': 1}
{'a': 2, 'h': 2, 'm': 1, 'e': 1, 'd': 1, 'f': 1}
{'a': 2, 'h': 2, 'm': 1, 'e': 2, 'd': 1, 'f': 1, 'z': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [180]:
name="aaaabbbbccccd"
for i in name:
    if name.count(i)==1:
        print(i)

d

**19-Write a Python program to remove spaces from a given string

In [189]:
name="ahmed hafez"
print(name.replace(" ",""))

ahmedhafez

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [39]:
l=[1,2,3,4,5]
l1=l[4],l[1],l[2],l[3],l[0]
l1

(5, 2, 3, 4, 1)

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [33]:
l=[23,65,19,90]
l.sort()
l=[l[0],l[2],l[1],l[3]]
l

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [42]:

l = [1, 2, 3, 4, 5, 6]
greater = 0

for i in l:
    if i > greater:
        greater = i

print("The maximum number is:", greater)

The maximum number is: 6

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [46]:
l = [1, 2, 3, 4, 5, 6]
min_number = l[0] 
for i in l:
    if i < min_number:
        min_number = i

print("The minimum number is:", min_number)

The minimum number is: 1

**26-search for if an elem is existing in list

In [49]:
l=[1,2,3,4,5,6]
l.index(3)

2

In [58]:
number=int(input("please enter your number"))
for i in range(len(l)):
    if(l[i]==number):
        print("The number you want it in",i )

please enter your number3
The number you want it in 2

**27- clear python list using different ways

In [61]:
l=[1,2,3,4,5,6]
l.remove(6)
l

[1, 2, 3, 4, 5]

In [64]:
l.pop()

5

In [65]:
l

[1, 2, 3, 4]

**28-remove duplicated elements from a list

In [66]:
l=[1,2,3,4,5,6,7,7,7,7]
set(l)

{1, 2, 3, 4, 5, 6, 7}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [40]:
def convert_to_key_value_pairs(values_list, keys_list):
    
    if len(values_list) % len(keys_list) != 0:
        raise ValueError("The number of elements in the values list must be divisible by the number of elements
                         in the keys list.")

    
    num_dicts = len(values_list) // len(keys_list)

    
    result = [{keys_list[i]: values_list[i + j] for i in range(len(keys_list))} for j in range(0, len(values_list),
                                                                                               len(keys_list))]

    return result


test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

output = convert_to_key_value_pairs(test_list, key_list)
print(output)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [72]:
def count_unique_using_dict(input_list):
    unique_counts = {}
    for item in input_list:
        unique_counts[item] = unique_counts.get(item, 0) + 1
    return len(unique_counts)
my_list = [1, 2, 3, 2, 4, 5, 3]
print(count_unique_using_dict(my_list))

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [97]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
element_counts = {}
for element in test_list:
    if element in element_counts:
        element_counts[element] += 1
    else:
        element_counts[element] = 1

result_list = [element for element, count in element_counts.items() if count > K]

print(result_list)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [99]:
input_list = [1, 2, 2, 3, 4, 5]
n = len(input_list)

if n == 0:
    strongest_neighbours = []
else:
    strongest_neighbours = []

    for i in range(n):
        if i == 0:
            strongest_neighbours.append(max(input_list[i], input_list[i + 1]))
        elif i == n - 1:
            strongest_neighbours.append(max(input_list[i], input_list[i - 1]))
        else:
            strongest_neighbours.append(max(input_list[i - 1], input_list[i], input_list[i + 1]))

print(strongest_neighbours)

[2, 2, 3, 4, 5, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [100]:
digits = [1, 2, 3]

for i in digits:
    for j in digits:
        if j != i:
            for k in digits:
                if k != i and k != j:
                    print(i, j, k)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [101]:
test_list = [1, 2, 3]

for i in range(len(test_list)):
    for j in range(i, len(test_list)):
        print(test_list[i:j+1])

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [102]:
List_1 = ["a", "b"]
List_2 = [1, 2]

unique_combination = []

for elem1 in List_1:
    for elem2 in List_2:
        combination = [(elem1, elem2), (elem2, elem1)]
        if combination not in unique_combination:
            unique_combination.append(combination)

print(unique_combination)

[[('a', 1), (1, 'a')], [('a', 2), (2, 'a')], [('b', 1), (1, 'b')], [('b', 2), (2, 'b')]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [113]:
input_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
target_element = 1

for element in input_list:
               if element != target_element:
                print(element)

2
3
4
5
2

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [41]:

list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]


result_list = list1[:]


for i in range(len(list2)):
    result_list[list2[i]] = list1[i % len(list1)]


print("The lists after index elements replacements are:", result_list)

The lists after index elements replacements are: ['best', 'Gfg', 'is']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [114]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2

result_list = [record for record in test_list if record.count(K) == N]

print(result_list)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [42]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]


def sort_by_column(arr, column):
    return sorted(arr, key=lambda x: x[column])


for col in range(len(array[0])):
    sorted_array = sort_by_column(array, col)
    print(f"Sorted array specific to column {col}, {sorted_array}")

Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [43]:
def sort_dict_by_key(input_dict):
    sorted_items = []
    for key in sorted(input_dict.keys()):
        sorted_items.append((key, input_dict[key]))
    return dict(sorted_items)

def sort_dict_by_value(input_dict):
    sorted_items = []
    for key, value in sorted(input_dict.items(), key=lambda x: x[1]):
        sorted_items.append((key, value))
    return dict(sorted_items)


input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

sorted_by_key = sort_dict_by_key(input_dict)
print("Sorted by key:", sorted_by_key)


sorted_by_value = sort_dict_by_value(input_dict)
print("Sorted by value:", sorted_by_value)

Sorted by key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
Sorted by value: {'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [44]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7


result_dict = {key: value 
               for key, value in test_dict.items() if (isinstance(value, int) and value <= K) or (isinstance(value, str))}


result_dict = {}
for key, value in test_dict.items():
    if (isinstance(value, int) and value <= K) or (isinstance(value, str)):
        result_dict[key] = value

print(result_dict)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [115]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
result_dict = {}
result_dict.update(dic1)
result_dict.update(dic2)
result_dict.update(dic3)

print(result_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [116]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict:
    print(key)

a
b
c

**44- Write a Python script to merge two Python dictionaries

In [117]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [118]:
my_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 15}
max_value = max(my_dict.values())
min_value = min(my_dict.values())

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 20
Minimum value: 5

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [119]:
my_tuple = (1, 2, 3, 4, 5)

print("One item from the tuple:", my_tuple[0])

One item from the tuple: 1

**48-Write a Python program to unpack a tuple into several variables

In [4]:
mytuple=("ahmed",21,"giza")
a=mytuple[0]
b=mytuple[1]
c=mytuple[2]
print("my name is", a)
print("my age is ", b)
print("i am from ",c)

my name is ahmed
my age is  21
i am from  giza

**49-Write a Python program to add an item to a tuple

In [11]:
tup= (1,2,3,4,5)
addnumber = 6
finaltup = tup + (addnumber,)
print("final tuple",finaltup)

final tuple (1, 2, 3, 4, 5, 6)

**50-Write a Python program to convert a tuple to a string

**51-Write a Python program to convert a list to a tuple

In [16]:
tup=(1,2,3,4,5)
l=[]
for i in tup:
    l.append(i)
print(l)

[1, 2, 3, 4, 5]

**52-Write a Python program to reverse a tuple

In [20]:
tup=(1,2,3,4,5)
tup[::-1]

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [25]:

sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
replacement_value = 100
modified_list = [tuple(t[:-1] + (replacement_value,)) for t in sample_list]
print("Modified list of tuples:", modified_list)

Modified list of tuples: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [26]:
original_string = "python 3.0 <class 'str'>"
result_tuple = tuple()
for char in original_string:
    result_tuple += (char,)
print("Original string:", original_string)
print("Converted tuple:", result_tuple)

Original string: python 3.0 <class 'str'>
Converted tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0', ' ', '<', 'c', 'l', 'a', 's', 's', ' ', "'", 's', 't', 'r', "'", '>')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [27]:

given_tuple = ((10, 20, 30), (40, 50, 60), (70, 80, 90))
total_sum = 0
total_count = 0
for inner_tuple in given_tuple:
    for number in inner_tuple:
        total_sum += number
        total_count += 1

if total_count > 0:
    average = total_sum / total_count
else:
    average = 0

print("Given tuple of tuples:", given_tuple)
print("Average value of the numbers:", average)

Given tuple of tuples: ((10, 20, 30), (40, 50, 60), (70, 80, 90))
Average value of the numbers: 50.0

**56-Write a Python program to add member(s) to a set.

In [28]:

my_set = {1, 2, 3}


my_set.add(4)


my_set.update({5, 6})


print("Updated set:", my_set)

Updated set: {1, 2, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [29]:

my_set = {1, 2, 3, 4, 5}


item_to_remove = 3


my_set.discard(item_to_remove)


print("Updated set:", my_set)

Updated set: {1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [30]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}


intersection_result = set1 & set2


union_result = set1 | set2


difference_result = set1 - set2


symmetric_difference_result = set1 ^ set2


print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)
print("Union:", union_result)
print("Difference (Set1 - Set2):", difference_result)
print("Symmetric Difference:", symmetric_difference_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference (Set1 - Set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
Set: {10, 20, 50, 80, 30}

In [34]:

max(my_set)

80

In [35]:
min(my_set)

10

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.